@use '../util' as *;

.toggle {
    display: grid;
    grid-template-columns: 1fr rem(48);
    margin: 0;
    border: none;

    label {
        font-size: rem(14);
        grid-template-columns: 1/2;

        &[for='dark'] {
            line-height: rem(24);
            margin-right: rem(13);
          }
    }

    &__wrapper {
        position: relative;
        grid-column: 2/3;
        height: rem(24);
    }

    input[type="radio"] {
        margin: 0 rem(-2) 0 rem(-2);
        opacity: 0;
        margin: 0;
        width: rem(20);
        height: rem(24);

        &:focus ~ .toggle__button {
            border: 2px solid white;
          }
    }

    &__background {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        border-radius: rem(12);
        background: var(--toggle-bg);
        pointer-events: none;

    }

    &__button {
        position: absolute;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--toggle-button);
        transition: all .15s ease-in-out;
    }

    #light:checked ~ &__button {
        left: calc(100% - rem(21));
        right: 3px;
    }

    #system:checked ~ &__button {
        left:50%;
        right: auto;
        transform: translate(-50%);
    }

    

}